<div class="settings-container">
   <div class="sidebar">
      <ul>
         <li class="nav-item">
            <a class="nav-link" routerLink="edit-profile" routerLinkActive="active-link-btn">
               Edit My Profile
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" routerLink="change-password" routerLinkActive="active-link-btn">
               Change My Password
            </a>
         </li>
      </ul>
   </div>


   <div class="main-content w-75">
      <router-outlet></router-outlet>
   </div>
</div>