<footer class="bg-main-light">
   <div class="container">
      <h2>Get The FreshCart app</h2>
      <p class="text-muted">
         We will send you a link, open it in your phone to download the app.
      </p>
      <div class="row">
         <div class="col-md-10">
            <input type="email" placeholder="Email..." class="form-control" />
         </div>
         <div class="col-md-2">
            <button class="btn-main">Share App Link</button>
         </div>
      </div>
      <hr />
      <div>
         <div class="payment d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-center">
               <div class="pay-title">Payment Partners</div>
               <img
                  class="payment-image"
                  src="images/Amazon_Pay_logo.png"
                  alt=""
               />
               <img
                  class="payment-image"
                  src="images/MasterCard-Logo.png"
                  alt=""
               />
               <img class="payment-image" src="images/PayPal.png" alt="" />
            </div>
            <div class="d-flex align-items-center justify-content-center">
               <div class="pay-title">Get delivers with FreshCart</div>
               <img width="60" src="images/get-it-on-apple-store.png" alt="" class="badge-icon" />
               <img
                  src="images/get-it-on-google-play-badge.png"
                  alt=""
                  class="badge-icon"
               />
            </div>
         </div>
         <hr>
      </div>
   </div>
</footer>
