<h2 class="text-main mb-4"><b>Change Password</b></h2>

<form [formGroup]="passwordForm">
   <div class="mb-3">
      <label for="currentPassword">Current Password</label>
      <input class="form-control py-3" id="currentPassword" formControlName="currentPassword" type="text"
         placeholder="Current Password" />
      <div class="text-danger  mt-3"
         *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched">
         Current password is required.
      </div>
   </div>

   <div class="mb-3">
      <label for="password">Password</label>
      <input class="form-control py-3" id="password" formControlName="password" type="text" placeholder="Password" />
      <div class="text-danger mt-3"
         *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched">
         New password is required and must be at least 6 characters long.
      </div>
   </div>

   <div class="mb-3">
      <label for="rePassword">rePassword</label>
      <input class="form-control py-3" id="rePassword" formControlName="rePassword" type="text"
         placeholder="Re-Password" />
      <div class="text-danger mt-3"
         *ngIf="passwordForm.get('rePassword')?.errors?.['mismatch'] && passwordForm.get('rePassword')?.touched">
         Passwords do not match.
      </div>
   </div>

   <div class="d-flex align-items-center justify-content-between ">

      <button class="btn-main py-3" type="submit" [disabled]="passwordForm.invalid" (click)="onChangePassword()">Save
         Password</button>

      <button (click)="resetForm()" class="btn btn-secondary py-3 w-25">Clear</button>
   </div>

</form>