/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

:root {
   --main-color: #17ce17;
   --light-color: #f0f3f2;
   --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
      rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
      rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
   --font-family: "Encode Sans Expanded", sans-serif;
   --rating-color: #f0c425;
}

body {
   font-family: var(--font-family) !important;
}

.nav-link {
   transition: unset !important;
}

.active-link {
   background-color: var(--main-color) !important;
   color: white !important;
   border-radius: 5px;
}

.rating-color {
   color: var(--rating-color);
}

.cursor-pointer {
   cursor: pointer;
}

a,
a:hover {
   color: black;
   text-decoration: none;
}

.product {
   border-radius: 5px;
   overflow: hidden;
   position: relative;
}

.product:hover {
   border: solid 1px var(--main-color);
   padding: 3px;
}


.font-sm {
   font-size: 12px;
}

.text-main {
   color: var(--main-color);
}

.bg-main {
   background-color: var(--main-color) !important;
}

.bg-main-light {
   background-color: var(--light-color) !important;
}

.btn-main {
   background-color: var(--main-color);
   padding: 7px 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   color: #fff;
   cursor: pointer;
   transition: background-color 0.5s;
}

.btn-main:disabled {
   cursor: not-allowed;
   background-color: #ccc;
}

.btn-main:disabled:hover {
   background-color: #ccc;
}

.btn-main:hover {
   background-color: #11bd11;
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background-color: var(--light-color);
}

::-webkit-scrollbar-thumb {
   background-color: var(--main-color);
}

.form-control {
   border-color: #1ad11a57 !important;
}

.form-control:focus {
   box-shadow: 0 0 0 0.2rem rgba(125, 214, 95, 0.600);
}

.social {
   font-size: 22px;
}

.card {
   overflow: hidden;
}

.card .btn-main {
   transform: translateY(150%);
   transition: transform 0.7s;
}

.card:hover .btn-main {
   transform: translateY(0);
}

.card:hover {
   border-color: #0aad0a;
   box-shadow: 0 0 10px #11bd1138;
}

.card-title {
   font-weight: bold;
   font-size: 0.9rem;
}

.product .btn-main {
   transform: translateY(150%);
   transition: transform 0.7s;
}

.product:hover {
   opacity: 0.8;
}

.product:hover .btn-main {
   transform: translateY(0);
}

.product-title {
   font-weight: bold;
}

.product-category {
   font-weight: 500;
}

.product-price {
   margin-top: 15px;
   margin-bottom: 10px;
}

.product .price {
   font-weight: 600;
}

.product .heart {
   position: absolute;
   top: 20px;
   right: 20px;
   display: none;
}

.product:hover .heart {
   display: block;
}

.toast-success {
   background-color: #28a746be !important;
}

input {
   font-size: 15px !important;
   font-weight: 600 !important;
   color: #000000a8 !important;
   padding-top: 10px !important;
   padding-bottom: 10px !important;
}

input::placeholder {
   font-size: 15px !important;
   color: #00000070 !important;
   font-weight: 600 !important;
}

label {
   display: inline-block;
   font-size: 16px;
   font-weight: 600;
   margin-bottom: 10px;
}